.App{
    font-family: sans-serif;
    color:rgb(71, 44, 2);
    width: 75vw;
    text-align: center;
    height:  150vh;
    margin: 0 auto;
    font-size: 36px;
}

.adding-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15%;
}

.adding-input > h1{
  padding-bottom: 1rem; 
}

.adding-input input, .adding-input button, .clear{
  padding:  Spx;
  border: none;
  outline: 0;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 8px;
}

.adding-input button {
  background-color:rgba(194, 18, 18, 0.699);
  color: inherit;
  font-size: 20px;
  padding: 14px 24px;
  border-radius: 8px;
}

.notes-container {
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(204, 13, 13);
  overflow-y: scroll;
}

.clear {
    background-color: rgb(69, 189, 13);
    border-radius: 60px;
    margin-top: 40px;
    font-size: 20px;
    padding: 15px 25px;
}

.notes-container > li {
padding: 8px;
width: 75vw;
border-bottom:  1px solid rgb(109, 17, 17);
list-style: none;
cursor:pointer
}

.notes-container > li:first-child {
   border-top:  1px solid rgb(241, 19, 19);
}

.notes-container > li:first-child {
  border-bottom: 0;
}
.completed{
    text-decoration: line-through;
    text-decoration-color: rgb(241, 19, 19);
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
    color: chartreuse;
}